* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    z-index: 1;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.logo img {
    width: 5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(223, 216, 216);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #646664;
    text-decoration: underline;
}

.toggle {
    display: none;
    font-size: 24px;
    color: rgb(223, 216, 216);
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0 ;
    padding-top: 10rem;
    margin-bottom: 5rem;
    color: rgb(223, 216, 216);
}

.hardcodedeBlog {
    padding: 6rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: #e7dfdfc4;
}

.blogCards {
    width: 300px;
    height: 22.5rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.blogCards img {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    margin-bottom: 0.8rem;
}

.blogCards h2 {
    font-size: 20px;
    margin: 10px 0;
}

.blogCards p {
    font-size: 14px;
    color: #555;
    margin: 1rem 0;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    background: white;
    padding: 25px;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.lightbox-content img {
    width: 80%;
    height: 20rem;
    border-radius: 5px;
    margin: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #333;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar.active .nav-links {
        display: flex;
    }

    .toggle {
        display: block;
    }
}

.container {
    padding-top: 8rem;
    z-index: 1;
}

.container h1 {
    font-size: 2.5rem;
    margin-top: 0 ;
    padding-top: 5rem;
    margin-bottom: 5rem;
    color: rgb(223, 216, 216);
}

#blogImage {
    margin-top: 1rem;
    width: 80%;
    max-width: 500px;
    height: 1.8rem;
    border: 2px solid rgb(109, 100, 100);
    border-radius: 7px;
}

textarea,
button select {
    margin: 1rem 0;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 2px solid rgb(109, 100, 100);
    border-radius: 7px;
}

button {
    background-image: radial-gradient(circle, #33a0e9 5%, #2b50c9 100%);
    color: white;
    border: 2px solid rgb(178, 177, 221);
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    padding: 7px 10px;
    width: 8rem;
}

button:hover {
    background-color: #219993;
}

h3 {
    color: #333;
}

.dropdown {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:rgb(231, 227, 227);
    color:rgb(136, 132, 132);
    font-size: 16px;
}

input, textarea {
    background-color:rgb(231, 227, 227);
    color:rgb(136, 132, 132);
}

#savedBlogs {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

.blog-card {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    /* background-image: url('https://img.freepik.com/free-vector/geometric-background-vector-white-color_53876-136766.jpg?w=1380&t=st=1723270967~exp=1723271567~hmac=2b5be397ea4fb44132621e0e9138df5373e45a91c77d50b47665fb35e0b0c9a5'); */
    background-color: #ffffff77;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    width: 80%;
    max-width: 20rem;
    height: 18rem;
    cursor: pointer;
}

.blog-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}

.blog-card h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.blog-card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-item button {
    background-image: radial-gradient(circle, #2f95da 5%, #2b50c9 100%);
    color: white;
    border: 2px solid rgb(77, 76, 121);
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    padding: 7px 10px;
    width: 8rem;
}

.blog-item button:hover {
    background-color: #219993;
}

.blog-image {
    width: 100%;
    height: 12rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

.blog-full-image {
    width: 100%;
    height: 25rem;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog-item {
    width: 90%;
    max-width: 750px;
    background-color: #ffffffad;
    padding: 15px;
}

.blog-item h4 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.blog-item p {
    font-size: 1.1rem;
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.back-button {
    margin: 10px 0;
}

h3 {
    font-size: 2rem;
    padding-top: 7rem;
    margin-bottom: 3rem;
    color: rgb(223, 216, 216);
}